# env
*/.env
.env

!*/.env.example

# terraform
*/.terraform/
!*/.terraform.lock.hcl
*/*.tfstate
*.tfstate
*.tfstate.backup
.terraform
.terraform.tfstate.lock.info

# .scratch
*.scratch*.md

# js
node_modules

# wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
.wrangler/

# cargo
target/
